<!-- Sidenav -->
    <% include ../partials/sidebar %>
    <!-- Main content -->
    <div class="main-content">
      <!-- Top navbar -->
      <% include ../partials/navbar %>
      <!-- Header -->
      <% include ../partials/header %>
      <!-- Page content -->
      <div class="container-fluid mt--7">
        <div class="row">
            <div class="col-xl-8">
                <div class="card shadow">
                  <div class="card-body border-0">
                    <h1>listado</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi voluptas repellat libero quis eius quo tenetur alias, cumque neque explicabo ipsa architecto soluta aspernatur dolorum laborum corporis suscipit ratione dicta.</p>
                      </div>
                </div>
              </div>
              <div class="col-xl-4">
                    <div class="card shadow">
                      <div class="card-body border-0">
                        <h1>Celular</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam quaerat ducimus ratione! Commodi, vel perferendis autem iste vero facere consequuntur, quisquam at suscipit, esse illo sint! Voluptatum illum quas repellendus.</p>
                          </div>
                    </div>
                </div>
            
        </div>
        <!-- Footer -->
        <% include ../partials/footer %>
      </div>
    </div>
    <!-- Include scripts -->
    <% include ../partials/scripts %>
  
  