<h1>reg</h1>

<form action="/log" method="POST">
    <p>email</p>
    <input type="email" name="email" />
    <p>username</p>
    <input type="text" name="username" />
    <p>pass</p>
    <input type="text" name="contrasena" />
    <p>repetir pass</p>
    <input type="text" name="repcontrasena" />
    <input type="submit" value="enviar">
</form>